/* SECTION TITLE */
.sub-bab {
    text-align: center;
    margin: 10px 20px 10px 20px;
    background: #ffc107;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

/* DOA */
.daftar-doa {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.doa {
    flex: 1;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-top: 6px solid #ffc107;
}

.doa h3 {
    color: #0f5132;
    margin-bottom: 10px;
}

.arab {
    font-weight: 800;
    font-size: 22px;
    margin: 15px 0;
}

.arti {
    color: #333;
}

.judul {
    margin-bottom: 5px;
}


/* KEUTAMAAN */
.keutamaan {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width:768px) {

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .daftar-doa {
        flex-direction: column;
    }

    .keutamaan {
        flex-direction: column;
    }

    .content h1 {
        font-size: 40px;
    }

}